{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "spec": true,
        "forceAllTransforms": true,
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "ie": 11
        }
      }
    ]
  ]
}